* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    background: -webkit-linear-gradient(bottom, #562fe2, #41c4f8);
}

.container {
    margin: 80px 0 80px 0;
    width: 340px;
    background: white;
    border-radius: 7px;
    text-align: center;
    padding: 50px 35px;
}

.container header {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.container .form-outer {
    width: 100%;
    overflow: hidden;
}

.form-outer form {
    display: flex;
    width: 400%;
}

.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 600;

}

.form-outer form .page .field {
    height: 45px;
    width: 330px;
    margin: 44px 0;
}

.form-outer form .page .field .label {
    font-weight: 600;

}

.form-outer form .page .field input {
    height: 100%;
    width: 95%;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 15px;
}
.btns{
    display: flex;
    
}
.btns button{
    margin: 1px; 
    padding: 7px;   
}

.form-outer form .page .field button {
    width: 100%;
    height: calc(100% + 0px);
    margin-top: -20px;
    border: none;
    background: #41c4f8;
    border-radius: 5px;
    color: aliceblue;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;

}

.form-outer form .page .field button:hover {
    background: #562fe2;

}

.form-outer form .page .btns button {
    margin-top: 2px;
}

form .page .btns button .prev {
    font-size: 17px;

}

form .page .btns button .next {
    margin-top: 17px;
}

.progress-bar {
    display: flex;
    margin: 40px 0;
}

.progress-bar .step {
    position: relative;
    text-align: center;
    width: 100%;
}

.progress-bar .step p {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 8px;
    transition: 0.2s;
}
.progress-bar .step p.active{
    color: #41c4f8;
}
.progress-bar .step .bullet {
    position: relative;
    height: 25px;
    width: 25px;
    border: 2px solid;
    display: inline-block;
    border-radius: 50%;
    transition:0.2s
}
.progress-bar .step .bullet.active{
    border-color: #41c4f8 ;
    background: #41c4f8;
}
.progress-bar .step:last-child .bullet::before,
.progress-bar .step:last-child .bullet::after{
    display: none;
}
.progress-bar .step .bullet::before,
.progress-bar .step .bullet::after {
    position: absolute;
    content: '';
    bottom: 11px;
    right: -85px;
    height: 3px;
    width: 85px;
    background: #262626;
}
.progress-bar .step .bullet.active::after{
    background: #41c4f8;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s linear forwards;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}

.progress-bar .step .bullet span {
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
    display: none;
}
.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}
.progress-bar .step .check.active{
    display: block;
    color: #fff;
}